# Mac
.DS_Store

# Python
.venv/

# build
build/
bin/
/-m64
/null.d

vcpkg_installed/

# AVBlocks SDK
sdk/

# assets
assets/
package/

# output
output/

# generators
xcode/

vs2017/
vs2019/
vs2022/

.env